.contacto-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #034741; 
    color: white; 
    height: 9%;
    font-size: 16px;
    width: 100%;
    position: fixed;
    bottom: 0px;
  }
  
  .contacto-footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
  }
  
  .contacto-footer-icons img {
    fill: white; 
    margin-bottom: 5px; 
  }
  